.toolbar-wrapper {
    position: fixed;
    bottom: 32px;
    left: 50%;
    padding: 0px 24px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transform: translateX(-50%);
}

.toolbar-wrapper .anticon {
    padding: 12px;
    cursor: pointer;
}

.toolbar-wrapper .anticon[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}

.toolbar-wrapper .anticon:hover {
    opacity: 0.3;
}

.ant-image-preview-mask{
    background-color: rgba(0, 0, 0, 0.8);
}

.image-gallery {
    min-width: 300px;
    min-height: 450px;
    padding: 5px;
}

.image-gallery img {
    border-radius: 5px;
}

.image-gallery .preview {
    display: inline-block;
    max-height: 100%;
    margin: 1%;
}

.image-gallery .image-preview {
    height: 85%;
}

.image-preview img {
    height: 100%;
}

.image-info {
    display: none;
}

.show-info {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to bottom, black, transparent);
}

.image-gallery ul {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    list-style: none;
    padding: 1%;
    max-height: 100%;
    overflow-y: scroll;
}

.image-gallery li {
    width: 100%;
}

.image-gallery li img {
    width: 100%;
}

.image-gallery li .selected {
    border: 2px solid #0363f2;
}