body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: "Montserrat", "Open Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
    overflow-x: hidden;
}